{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign paper_url = post.paperurl %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p>
      - {% if paper_url and paper_url != '' and paper_url != nil %}<strong><a href="{{ paper_url }}">{{ title }}</a></strong>{% else %}<strong>{{ title }}</strong>{% endif %}
      {% if post.coauthors %}
        <br>with {{ post.coauthors }}
      {% endif %}
      {% if post.journal %}
        <br>{{ post.journal }}
      {% endif %}
      {% if post.conference %}
        <br>{{ post.conference }}
      {% endif %}
      {% if post.award %}
        <br>{{ post.award }}
      {% endif %}
    </p>
  </article>
</div>
